@model SeasonFormViewModel
<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
        <form enctype="multipart/form-data"
              asp-area="UserPanel"
              asp-controller="Seasons"
              asp-action="Create" 
             
              method="post">
            <input type="hidden" asp-for="CompetitionId" />
            <div class="form-group">
                <label class="label" asp-for="Name">
                    Name
                </label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <select class="form-control" asp-for="StartYear"  asp-items="@Model.StartYears"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select class="form-control" asp-for="EndYear" asp-items="@Model.EndYears"></select>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">
                Create
            </button>
            <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
        </form>
    </div>
</div>